<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
<script src="http://localhost:3000/vendors.js"></script>
    <script src="http://localhost:3000/app.js"></script>
{% endblock %}
</body>
</html>