/**
 * Import
 */
@import src/styles/vars

/**
 * Styles
 */


body
  
  
  height: 100vh 
  overflow-x: hidden
  font-family: 'Open Sans', sans-serif

#app 
  background: url('../../assets/images/bg.png')
  background-color: #000